<!DOCTYPE html>
<html>
  <head>
    <title>User Administration</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>User Administration</h1>
        <a href="/logout" class="btn btn-info">Logout</a>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <th>User ID</th>
          <th>Email</th>
          <th>Delete User?</th>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{ this.id }}</td>
            <td>{{ this.email }}</td>
            <td><a href="/delete/user/{{ this.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>
