<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Welcome to your new Node.js app.</p>
        <p>
          <div>
            <a href="/login"><button class="btn btn-primary btn-lg">Log In</button></a>
            <a href="/signup"><button class="btn btn-info btn-lg">Sign Up</button></a>
          </div>
        </p>
      </div>
    </div>
  </body>
</html>
