<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Sign Up</h1>

        {{#if message.length}}
          <div class="alert alert-danger">{{ message }}</div>
        {{/if}}

        <form action="/signup" method="post">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <button type="submit" class="btn btn-info">Sign Up</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or return to <a href="/">home</a>.</p>
      </div>
    </div>
  </body>
</html>
